global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - 'alerts.yml'

scrape_configs:
  - job_name: 'ecommerce-api'
    static_configs:
      - targets: ['ecommerce-api:5000']
    metrics_path: '/metrics'
